{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row mx-auto mb-2">
        <span type="button" class="badge badge-dark btn-block" data-toggle="collapse" data-target="#studies_ov"
              aria-expanded="true" aria-controls="studies_ov">
            <h4 class="col-12 mt-1">Tutorials</h4>
        </span>
    </div>

    <div class="row mx-auto mb-2">
        <button type="button" class="btn btn-secondary btn-block" data-toggle="collapse" data-target="#basic_tutorials"
                aria-expanded="false" aria-controls="basic_tutorials">
            <h5 class="col-12 mt-1">Basics</h5>
        </button>
    </div>
    <div id="basic_tutorials" class="collapse show">
        <div class="row mx-auto mb-2">
            <div class="col-4 show mt-2">
                <span class="badge badge-light btn-block">
                    <h4 class="col-12 mt-1">Creating Studies</h4>
                </span>
            </div>
            <div class="col-4 show mt-2" id="basic_tutorials">
                <span class="badge badge-light btn-block">
                    <h4 class="col-12 mt-1">User Types</h4>
                </span>
            </div>
            <div class="col-4 show mt-2" id="basic_tutorials">
                <span class="badge badge-light btn-block">
                    <h4 class="col-12 mt-1">Accessing Results</h4>
                </span>
            </div>
        </div>




        <div class="row mx-auto mb-2">
            <div class="col-4" controls>
                <iframe src="https://player.vimeo.com/video/545641497" class="w-100"  frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-4" controls>
                <iframe src="https://player.vimeo.com/video/545645634" class="w-100"  frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <video class="col-4" controls>
                <source src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="row mx-auto mb-2">
        <button type="button" class="btn btn-secondary btn-block" data-toggle="collapse" data-target="#study_example_tutorials"
                aria-expanded="false" aria-controls="study_example_tutorials">
            <h5 class="col-12 mt-1">Study Examples</h5>
        </button>
    </div>
    <div id="study_example_tutorials" class="collapse show">
        <div class="row mx-auto mb-2">
            <div class="col-4 show mt-2">
                <span class="badge badge-light btn-block">
                    <h4 class="col-12 mt-1">FROC Studies</h4>
                </span>
            </div>
            <div class="col-4 show mt-2" id="basic_tutorials">
                <span class="badge badge-light btn-block">
                    <h4 class="col-12 mt-1">AFC Studie</h4>
                </span>
            </div>
            <div class="col-4 show mt-2" id="basic_tutorials">
                <span class="badge badge-light btn-block">
                    <h4 class="col-12 mt-1"></h4>
                </span>
            </div>
        </div>

        <div class="row mx-auto">
            <video class="col-4" controls>
                <source src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <video class="col-4" controls>
                <source src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <video class="col-4" controls>
                <source src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>


</div>
{% endblock %}