{% extends 'base.html' %}
{% block header %}
<script src="{{ url_for('static', filename='js/study/create_study.js') }}"></script>
{% endblock %}


{% block content %}
<div class="container h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-12 my-auto">
      <div class="form-horizontal" id="study_data">

        <span  class="badge badge-dark w-100 mt-1" data-toggle="collapse"
          data-target="#file_upload_rules" aria-expanded="false" aria-controls="file_upload_rules">
          <h5 class="col-12 mt-1">Basic Study Settings</h5>
        </span>

        <div class="row mx-auto mt-2">
          <div class="input-group">
            <div class="input-group-prepend col-2 px-0">
              <span class="input-group-text col-12">Title</span>
            </div>
            <input class="form-control form-control" name="title" id="title" placeholder="Study Title"
              {% if study is not none %} value="{{study['title']}}" {% endif %} required>
          </div>
        </div>


        <div class="row mx-auto">
          <div class="input-group">
            <div class="input-group-prepend col-2 px-0">
              <span class="input-group-text col-12">Password</span>
            </div>
            <input class="form-control" type="password" name="password" id="password" placeholder="Access Password"
              {% if study is none %} required {% endif %}>
          </div>
        </div>

          <div class="row mx-auto mt-2">
            <div class="input-group px-0" 
              data-toggle="tooltip" data-placement="left"
              title="The study description is shown to participants 
at the beginning of the study and should include 
basic information about the study 
e.g. how many images have to be evaluated.">
              <div class="input-group-prepend col-2 px-0">
                <span class="mx-auto input-group-text col-12">Study Description</span>
              </div>
              <textarea class="form-control" name="description" id="description"
                rows="13">{% if study is not none %}{{study.description}}{% endif %}</textarea>
            </div>
          </div>

          <div class="row mx-auto mt-2 no-gutters" >
            <button class="btn btn-secondary btn-block" {% if study is none %}id="create_study"{% else %}id="update_study" data-study_id="{{study['id']}}"{% endif %}>
              {% if study is none %}Create Study{% else %}Update Study{% endif%}
            </button>
          </div>

          <div class="row mx-auto mt-2 no-gutters" id="study_setup_navbar" {% if study is none %} style="display:none;" {% endif%}>
            <div class="col-4">
              <div class="mr-1">
                <button class="btn btn-secondary btn-block">
                  <a style="color:white", href="{{ url_for('studies.overview')}}" class="nav-link" >
                    Return to Study Overview
                  </a>
               </button>
              </div>
            </div>
  

            <div class="col-4">
              <div class="mr-1">
                <button class="btn  btn-secondary btn-block">
                    <a id="nav_image_upload", style="color:white", href={% if study is not none %}"{{ url_for('studies.image_upload',study_id=study["id"]) }}"{% else %}""{% endif %} class="nav-link">
                      Continue to File Upload
                    </a>
                </button>
              </div>
            </div>
  
            <div class="col-4">
              <div class="">
                <button class="btn btn-secondary btn-block">
                    <a id="nav_study_design", style="color:white" href={% if study is not none %}"{{ url_for('studies.study_design',study_id=study["id"]) }}"{% else %}""{% endif %} class="nav-link">
                      Continue to Study Design
                    </a>
                </button>
              </div>
            </div>
  
          </div>

        </div>
    </div>
  </div>
</div>
{% endblock %}