/* basic site setup */
html, body {
      height: 100%;
      padding:0.1px;
    }

main {
   height: calc(100% - 100px);
   margin-top:90px;
  }

.footer {
     width:100%;
     height:50px;
     position: absolute;
     bottom: 0;
   }


.navbar {
  min-height:60px;
  z-index: 1;
  }

.navbar_overlay {
  float: left;
  position: fixed;
  z-index: 11;
  min-height:60px;
  width:50%;
  }


.login {
  height: 75vh
}

/* .dicom_img {
  width: 100%;
  padding-top: 50%;
} */

/* site bar */
.sidebar_own {
  max-height: calc(100vh - 180px);
  z-index: 0; /* Stay on top */
  top: 8em; /* Stay at the top */
  left: 1;
  background-color: #343a40; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */}

.imgset_active {
  background-color: green;
}

.result_active {
  background-color: blue;
}

/* The button used to open the sidebar */
.openbtn {
  width: 200px;
  font-size: 20px;
  cursor: pointer;
  background-color: #343a40;
  color: #818181;
  border: none;
}

.openbtn:hover {
  color: #f1f1f1;
}

/* #design_settings, #ref_images, #comp_images, #imgset_buttons {
  border-top: solid;
  padding-top: 5px;
} */

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}